::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
}

.no-scroll::-webkit-scrollbar {
    display: none;
}